[user]
	email = 57800056+barraIhsan@users.noreply.github.com
	name = barraIhsan
	signingkey = E42BB21A4CB03071
[commit]
	gpgsign = true
[credential "https://github.com"]
	username = barraIhsan
[core]
	editor = nvim -f
