{{ if eq .chezmoi.username "barra" -}}
[user]
	email = 57800056+barraIhsan@users.noreply.github.com
	name = barraIhsan
	signingkey = FF7D51EFEC75A00B
{{- end }}
[commit]
	gpgsign = true
[core]
	editor = nvim -f
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[pull]
  rebase = true

# vim: filetype=gitconfig syntax=gitconfig
