[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*
Actions=a_rename;b_webp;c_png
X-KDE-Submenu=Image

[Desktop Action a_rename]
Name=Rename to MD5
Icon=edit
Exec=/usr/local/bin/imgconvert rename %F

[Desktop Action b_webp]
Name=Convert to WebP
Icon=autocorrection
Exec=/usr/local/bin/imgconvert webp %F

[Desktop Action c_png]
Name=Convert to PNG
Icon=autocorrection
Exec=/usr/local/bin/imgconvert png %F
