[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*
Actions=webp;png
X-KDE-Submenu=Image

[Desktop Action webp]
Name=Convert to WebP
Icon=autocorrection
Exec=/usr/local/bin/imgconvert webp %F

[Desktop Action png]
Name=Convert to PNG
Icon=autocorrection
Exec=/usr/local/bin/imgconvert png %F
